<h1 style="margin-top: 300px;">
   <span> Hola {{persona}} !! </span>PROXIMAMENTE esta pagina estará disponible</h1>

   <div>
    <a href="admin/login/logout" class="btn btn-danger" > Cerrar Sesión <i class="fas fa-sing-out-alt"></i> </a>
   </div>